.arancione{
    background-color: #FF5C00;
    color:white;
}
.bianca{
    background-color: #ffffff;
    color:white;
}
.rossa{
    background-color: #ff0000;
    color:white;
}
.gialla{
    background-color: #ffee00;
    color:rgb(8, 0, 0);
}
#tre card{
    min-height: 367px;


}

